.Category-update {
  position: fixed;
  background: rgba(0, 0, 0, .8);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  .show {
    display: flex;
  }
  &Form {
    background: white;
    border-radius: .5rem;
    max-width: 40rem;
    width: 100%;
    padding: 4rem;
    position: relative;
    button {
      width: 100%;
      margin-top: 2rem;
    }
  }
  &Close {
    position: absolute;
    right: -2rem;
    top: -2rem;
    background: white;
    border-radius: 50%;
    padding: .4rem;
    font-size: 2.8rem;
    width: 5rem;
    text-align: center;
    box-shadow: -1px 2px 4px #0000001a;
    cursor: pointer;
  }
  &Url{
    cursor: pointer;
  }
}