.Banner {
  margin: 2rem 0;
}

.Video {
  margin: 2rem 0;
}

.Step {
  margin: 2rem 0;
  &-article {
    padding: 7rem 1rem 3rem;
    border: .3rem solid;
    border-radius: 3rem 3rem 0 0;
    margin: 2rem auto;
    position: relative;
    max-width: 24rem;
    &:before {
      counter-increment: section;
      content: counter(section);
      position: absolute;
      top: -3rem;
      left: calc(50% - 3rem);
      border-radius: 50%;
      color: var(--secondary-color);
      background: #FCD703;
      height: 6rem;
      width: 6rem;
      text-align: center;
      font-size: 3.5rem;
      line-height: 6rem;
    }

  }

  &-p {
    font-size: 2.1rem;
    text-align: center;
    line-height: 1.3em;
    margin-top: 2rem;
    &-b {
      font-family: 'Century Gothic bold', serif;
    }
  }
}

.Kit {
  background: #F0F0F0;
  padding: 3em 0 5rem;
  &-h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    @include respond-to(medium){
      font-size: 4rem;
    }
  }
  &-article {
    width: 26rem;
    height: 26rem;
    background: black;
    border-radius: .5rem;
    margin: 2rem 0;
  }
}

.Socials {
  .Title-h2 {
    max-width: 48rem;
    margin: 2rem auto 2rem;

  }
  &-hr {
    background: #DADADB;
    border: none;
    height: .1rem;
  }
  &-h4, &-h5 {
    position: relative;
    font-family: 'Century Gothic', sans-serif;
    color: #939394;
    font-size: 2rem;
    line-height: 1.2em;
    margin: 0;
  }
  &-article {
    height: 30rem;
    width: 30rem;
    background: black;
    margin-bottom: 1rem;
  }
  &-title {
    margin: 1rem 0;
  }
  img {
    max-width: 6rem;
    margin-right: 1rem;
  }
  &-feed {
    margin: 3rem 0;
  }
}

.Winners {
  background: #F2D60C;
  padding: 0 3rem;
  @include respond-to(medium) {
    padding: 0;
  }
  &-h2Content {
    position: relative;
    max-width: 25rem;
    margin: auto;
    @include respond-to(medium) {
      max-width: 50rem;
    }
  }
  &-h2 {
    background: white;
    font-size: 2rem;
    position: relative;
    text-align: center;
    padding: 3rem 0 2.5rem;
    border-radius: 0 0 1rem 1rem;
    @include respond-to(medium){
      font-size: 3.3rem;
    }
  }
  &-h2Span {
    position: absolute;
    background: #FCD703;
    border-radius: 2rem;
    height: .8rem;
    width: 5rem;
    &:nth-child(1) {
      bottom: 1rem;
      right: -2rem;
      height: 1.6rem;
      width: 8rem;
      background: var(--secondary-color);
    }
    &:nth-child(2) {
      left: -4rem;
      bottom: 1rem;
      background: white;
      height: 1.8rem;
    }
    &:nth-child(3) {
      right: -4rem;
      top: 1rem;
      background: white;
      height: 2.8rem;
    }
    &:nth-child(4) {
      left: -6.5rem;
      bottom: 3.5rem;
      height: 1rem;
      background: var(--secondary-color);
      width: 4rem;
    }
    &:nth-child(5) {
      left: 3rem;
      bottom: -1rem;
      height: 3rem;
      background: var(--secondary-color);
      width: 11rem;
    }
  }
  &-h4 {
    margin: 8rem auto 3rem;
    text-align: center;
    font-family: 'Century Gothic', sans-serif;
    font-size: 2.3rem;
    letter-spacing: .05rem;
    span {
      font-family: 'Century Gothic bold', sans-serif;
    }
  }
  &-svg {
    position: absolute;
    bottom: -5rem;
    right: 8rem;
  }
  &-li {
    margin: 2rem 0;
    position: relative;

    svg {
      margin-right: 2rem;
    }
    &:before {
      content: '\25CF';
      position: absolute;
      left: 0;
      top: calc(50% - 10px);
    }
    &:last-child {
      @include respond-to(large) {
        max-width: 64.5%;
      }
      &:before {
        content: '';
      }
    }
  }
  &-button {
    border-radius: 4rem;
    background: #F2BF0C;
    font-size: 3rem;
    padding: 1rem 5rem;
    font-family: 'Century Gothic bold', sans-serif;
    box-shadow: 0 1.5rem 2.4rem -8px rgb(181, 158, 4);
  }
}

.Terms {
  &-button {
    max-width: 60rem;
    margin: 6rem auto;
    border-radius: 5rem;
    font-size: 1.4rem;
    padding: 3rem 5rem;
    display: block;
    font-family: 'Century Gothic bold', sans-serif;
    position: relative;
    @include respond-to(medium) {
      font-size: 2.4rem;
    }
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: -1rem;
      left: -.5rem;
      border: solid #CA0088 .1rem;
      border-radius: 5rem;
    }
  }
}

.Modal {
  position: fixed;
  background: rgba(0, 0, 0, .7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10;
  &.active {
    display: flex;
  }
  &-close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 2rem;
    cursor: pointer;
    path {
      fill: white !important;
    }
  }
  &-content {
    max-width: 90%;
    width: 70rem;
    background: white;

    max-height: 90%;
    overflow: scroll;
    text-align: center;
    padding: 2rem;
    @include respond-to(medium) {
      height: 50rem;
    }
    h2{
      font-size: 4rem;
      margin: 1rem auto 2rem;
      border-bottom: .1rem solid;
      padding: 0 0 1rem;
      max-width: 52.5rem;

    }
  }
}

.Winners-figure{
  width: 8rem;
  height: 8rem;
  background-size: cover;
  border-radius: 50%;
  background-position: center;
}
.Winners-all{
  li{
    color: black;
  }
}